[project]
	description = A small CoAP implementation for microcontrollers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Olaru Costin Viorel (mcvio)
[access "refs/for/refs/*"]
	read = group user/Olaru Costin Viorel (mcvio)
	push = group user/Olaru Costin Viorel (mcvio)
	label-Code-Review = -2..+2 group user/Olaru Costin Viorel (mcvio)
	label-Verified = -1..+1 group user/Olaru Costin Viorel (mcvio)
	rebase = group user/Olaru Costin Viorel (mcvio)
	removeReviewer = group user/Olaru Costin Viorel (mcvio)
	submit = group user/Olaru Costin Viorel (mcvio)
[access "refs/heads/*"]
	read = group user/Olaru Costin Viorel (mcvio)
	create = group user/Olaru Costin Viorel (mcvio)
	push = +force group user/Olaru Costin Viorel (mcvio)
	pushMerge = group user/Olaru Costin Viorel (mcvio)
[access "refs/tags/*"]
	push = group user/Olaru Costin Viorel (mcvio)
	push = +force group user/Olaru Costin Viorel (mcvio)
